<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:f="http://xmlns.oracle.com/weblogic/domain-fragment" xmlns:s="http://xmlns.oracle.com/weblogic/situational-config">
  <log>
    <file-name f:combine-mode="add">/shared/logs/base_domain.log</file-name>
  </log>
  <server>
    <name>admin-server</name>
    <log f:combine-mode="add">
      <file-name f:combine-mode="add">/shared/logs/admin-server.log</file-name>
    </log>
    <listen-address f:combine-mode="replace">domain13-admin-server</listen-address>
    <max-message-size f:combine-mode="replace">78787878</max-message-size>
    <network-access-point>
      <name>T3Channel</name>
      <public-address f:combine-mode="replace">${secret:domain13-t3publicaddress.hostname}</public-address>
    </network-access-point>
    <network-access-point>
      <name>T3Channel1</name>
      <public-address f:combine-mode="replace">${secret:domain13-t3publicaddress.hostname}</public-address>
      <public-port f:combine-mode="replace">40012</public-port>
      <listen-address f:combine-mode="replace">domain13-admin-server</listen-address>
    </network-access-point>
    <network-access-point>
      <name>T3Channel2</name>
      <public-address f:combine-mode="replace">${secret:domain13-t3publicaddress.hostname}</public-address>
      <public-port f:combine-mode="replace">40013</public-port>
      <listen-address f:combine-mode="replace">domain13-admin-server</listen-address>
    </network-access-point>
    <network-access-point>
      <name>T3Channel3</name>
      <public-address f:combine-mode="replace">${secret:domain13-t3publicaddress.hostname}</public-address>
      <public-port f:combine-mode="replace">40014</public-port>
      <listen-address f:combine-mode="replace">domain13-admin-server</listen-address>
    </network-access-point>
  </server>
  <server>
    <name>standalone1</name>
    <log f:combine-mode="add">
      <file-name f:combine-mode="add">/shared/logs/standalone1.log</file-name>
    </log>
    <max-message-size f:combine-mode="replace">1111111</max-message-size>
    <listen-address f:combine-mode="replace">domain13-standalone1</listen-address>
  </server>
  <server>
    <name>standalone2</name>
    <log f:combine-mode="add">
      <file-name f:combine-mode="add">/shared/logs/standalone2.log</file-name>
    </log>
    <max-message-size f:combine-mode="add">2222222</max-message-size>
    <listen-address f:combine-mode="replace">domain13-standalone2</listen-address>
  </server>
  <server-template>
    <name>mycluster-template</name>
    <log f:combine-mode="add">
      <file-name f:combine-mode="add">/shared/logs/managed-server${id}.log</file-name>
    </log>
    <listen-address f:combine-mode="replace">domain13-managed-server${id}</listen-address>
  </server-template>
</domain>
